<div class="mdl-grid ui-typography mdl-grid--no-spacing">
<div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone mdl-cell--top">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Generell</h2>
            </app-base-card-title>
            <app-base-card-body>
              <span class="text-color--gray">Roboto ist die Standard Schrift vom Material Design Stil</span>
              <p>Roboto weight 200 30px</p>
              <p>Roboto weight 300 30px</p>
              <p>Roboto weight 400 30px</p>
              <p>Roboto weight 500 30px</p>
              <p>Roboto weight 600 30px</p>
            </app-base-card-body>
          </app-base-card>
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Text Beispiele</h2>
            </app-base-card-title>
            <app-base-card-body>
            <span class="text-color--gray">BEISPIEL TEXT</span>
            <p>
              Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.
              Rationibus reprimique vis an, mei vidit solum sententiae no, rebum blandit eleifend cum id. Id amet mucius aperiri mea.
              Eu eam audiam utroque gloriatur, cu duis graeci disputationi mea, has an harum nihil blandit.
              <br><br>
              Facer cetero est ne, no duo commodo tincidunt scribentur, in quo maiorum iudicabit.
              Everti liberavisse cu ius. Eam ea antiopam referrentur, probo affert docendi no usu, est no odio perpetua electram.
              Clita viderer eum ea.
              Partem democritum qui in. In nec sale choro inermis, et vel audiam philosophia.
            </p>
            <span class="text-color--gray">BEISPIEL TEXT MIT LEAD BODY</span>
      
            <h5>Lead body. Has consul possim sadipscing no</h5>
            <p>
              Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.
              Rationibus reprimique vis an, mei vidit solum sententiae no, rebum blandit eleifend cum id. Id amet mucius aperiri mea.
              Eu eam audiam utroque gloriatur, cu duis graeci disputationi mea, has an harum nihil blandit.
              <br><br>
              Facer cetero est ne, no duo commodo tincidunt scribentur, in quo maiorum iudicabit.
              Everti liberavisse cu ius. Eam ea antiopam referrentur, probo affert docendi no usu, est no odio perpetua electram.
              Clita viderer eum ea.
              Partem democritum qui in. In nec sale choro inermis, et vel audiam philosophia.
            </p>
            <span class="text-color--gray">FARBENFROHE TEXT BEISPIELE</span>
            <p>
              <span class="color-text--red">Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.</span>
              <br>
              <span class="color-text--orange">Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.</span>
              <br>
              <span class="color-text--teal">Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.</span>
              <br>
              <span class="color-text--light-blue">Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.</span>
              <br>
              <span class="color-text--purple">Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.</span>
              <br>
              <span class="color-text--green">Has consul possim sadipscing no. Facer dissentias cu est, vim eu habeo eruditi.</span>
            </p>
            </app-base-card-body>
          </app-base-card>
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Überschriften</h2>
            </app-base-card-title>
            <app-base-card-body>
              <h1>Überschrift h1</h1>
              <h2>Überschrift h2</h2>
              <h3>Überschrift h3</h3>
              <h4>Überschrift h4</h4>
              <h5>Überschrift h5</h5>
              <h6>Überschrift h6</h6>
            </app-base-card-body>
          </app-base-card>
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Ausrichtung</h2>
            </app-base-card-title>
            <app-base-card-body>
              <div>Links ausgerichteter Text</div>
              <div>Mittig ausgerichteter Text</div>
              <div>Rechts ausgerichteter text</div>
            </app-base-card-body>
          </app-base-card>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-cell--top">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Ungeordnete Liste</h2>
            </app-base-card-title>
            <app-base-card-body>
              <ul>
                <li>Coden</li>
                <li>
                  Essen
                  <ul>
                    <li>Frühstück</li>
                    <li>Mittagessen</li>
                    <li>Abendessen</li>
                  </ul>
                </li>
                <li>Schlafen</li>
                <li>Medititieren</li>
                <li>Kampf dem Bösen</li>
              </ul>
            </app-base-card-body>
          </app-base-card>
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Geordnete Liste</h2>
            </app-base-card-title>
            <app-base-card-body>
              <ol>
                <li>Coden</li>
                <li>
                  Essen
                  <ul>
                    <li>Frühstück</li>
                    <li>Mittagessen</li>
                    <li>Abendessen</li>
                  </ul>
                </li>
                <li>Schlafen</li>
                <li>Meditieren</li>
                <li>Kampf dem Bösen</li>
              </ol>
            </app-base-card-body>
          </app-base-card>
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Ungestilte Liste</h2>
            </app-base-card-title>
            <app-base-card-body>
              <ul>
                <li>Coden</li>
                <li>
                  Essen
                  <ul>
                    <li>Frühstück</li>
                    <li>Mittagessen</li>
                    <li>Abendessen</li>
                  </ul>
                </li>
                <li>Schlafen</li>
                <li>Meditieren</li>
                <li>Kampf dem Bösen</li>
              </ul>
            </app-base-card-body>
          </app-base-card>
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Inline Liste</h2>
            </app-base-card-title>
            <app-base-card-body>
              <ol>
                <li>Coden</li>
                <li>Essen</li>
                <li>Schlafen</li>
              </ol>
            </app-base-card-body>
          </app-base-card>
        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
          <app-base-card>
            <app-base-card-title>
              <h2 class="mdl-card__title-text">Beschreibungs Liste</h2>
            </app-base-card-title>
            <app-base-card-body>
              <dl>
                <dt>Material Design</dt>
                <dd>
                  Design Sprache von Google in 2014 entwickelt.
                  Expandierend von den Karten Motiven die Ihren Anfang in Google Now fanden,
                  Material Design macht mehr liberale Nutzung von Grid-App basiertem Entwürfen,
                  Empfängliche Animationen und Transitionen, Polsterung, und Tiefen Effekte
                  wie Belichtungen und Schattierungen.
                </dd>
                <dt>Material Design Lite</dt>
                <dd>
                  Diese Bibliothek erlaubr Dir das hinzufügen vom Material Design Look und Gefühl zu
                  Deiner statischen, inhalt Website.
                  Es ist von keinem Javascript Framework oder Bibliotheken abhängig.
                  Optimiert für Nutzung auf allen Geräten, graziös degradiert es in alten Browsern,
                  und offeriert eine Nutzungserfahrung welches Zugänglich von Anfang an ist.
                </dd>
                <dt>Material Dashboard Lite</dt>
                <dd>
                  Erstes dunkele Dashboard mit MDL gebaut.
                  Material Dashboard Lite Admin Vorlage ist gratis für kommerzielle Nutzung,
                  welches Google's Implementierung von Material Design- Material Design Lite Bibliothek.
                </dd>
              </dl>
            </app-base-card-body>
          </app-base-card>
        </div>
      </div>
    </div>
