<div class="mdl-cell mdl-cell--12-col">
    <material-angular-select [data]="languages"
                      [name]="'language'"
                      [label]="'Sprache'"
                      [currentValue]="currentLanguage"></material-angular-select>
  </div>
  
  <div class="mdl-cell mdl-cell--12-col">
    <material-angular-select [data]="currencies"
                      [name]="'currency'"
                      [label]="'Währung'"
                      [currentValue]="currentCurrency"></material-angular-select>
  </div>
  
  <div class="mdl-cell mdl-cell--12-col">
    <material-angular-select [data]="['Männlich', 'Weiblich']"
                      [name]="'gender'"
                      [label]="'Geschlecht'"
                      [currentValue]="'Männlich'"></material-angular-select>
  </div>
