<app-base-card>
  <app-base-card-title>
    <h2 class="mdl-card__title-text">Progress bar</h2>
  </app-base-card-title>
  <app-base-card-body>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">DEFAULT</span>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="red" progress="44"></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="orange" progress="44"></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="light-blue" progress="86"></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="purple" progress="66"></app-base-progress>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">INDETERMINATE</span>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="red" indeterminate></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="orange" indeterminate></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="light-blue" indeterminate></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="purple" indeterminate></app-base-progress>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">BUFFERING</span>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="red" progress="33" buffer="87"></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="orange" progress="60" buffer="60"></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="light-blue" progress="50" buffer="60"></app-base-progress>
      </li>
      <li class="mdl-list__item">
        <app-base-progress color="purple" progress="13" buffer="77"></app-base-progress>
      </li>
    </ul>
  </app-base-card-body>
</app-base-card>