<app-base-card>
  <app-base-card-title>
    <h2 class="mdl-card__title-text">Chips</h2>
  </app-base-card-title>
  <app-base-card-body>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">EINFACHER CHIP</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-chip">
          <span class="mdl-chip__text">Einfacher Chip</span>
        </span>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">LÖSCHBARER CHIP</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-chip mdl-chip--deletable">
          <span class="mdl-chip__text">Löschbarer Chip</span>
          <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
        </span>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">KNOPF CHIP</span>
      </li>
      <li class="mdl-list__item">
        <button type="button" class="mdl-chip color--teal mdl-color-text--white">
          <span class="mdl-chip__text">Knopf Chip</span>
        </button>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">KONTAKT CHIP</span>
      </li>
      <li class="mdl-list__item">
         <span class="mdl-chip mdl-chip--contact">
           <span class="mdl-chip__contact color--orange">A</span>
           <span class="mdl-chip__text">Kontakt Chip</span>
         </span>
      </li>
    </ul>
    <ul class="mdl-list pull-left">
      <li class="mdl-list__item">
        <span class="text-color--gray">LÖSCHBARER KONTAKT CHIP</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
          <img class="mdl-chip__contact" src="/assets/images/Icon_header.png">
          <span class="mdl-chip__text">David Krimel</span>
          <a class="mdl-chip__action"><i class="material-icons">cancel</i></a>
        </span>
      </li>
    </ul>
  </app-base-card-body>
</app-base-card>
