<div class="mdl-grid ui-colors">
        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="teal">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Blaugrün</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#00bcd4</h3>
                  </app-base-card-body>
                </app-base-card>
        </div>
              <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="red">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Rot</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#f44336</h3>
                  </app-base-card-body>
                </app-base-card>
              </div>
              <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="green">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Grün</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#00d45a</h3>
                  </app-base-card-body>
                </app-base-card>
              </div>
              <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="gray">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Normales Grau</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#444747</h3>
                  </app-base-card-body>
                </app-base-card>
              </div>
              <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="orange">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Orange</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#ffc107</h3>
                  </app-base-card-body>
                </app-base-card>
              </div>
              <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="purple">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Lila</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#7726d3</h3>
                  </app-base-card-body>
                </app-base-card>
              </div>
              <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="light-blue">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Hell Blau</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#03A9F4</h3>
                  </app-base-card-body>
                </app-base-card>
              </div>
              <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <app-base-card class="dark-gray">
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Dunkel Grau</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    <h3>#333434</h3>
                  </app-base-card-body>
                </app-base-card>
              </div>       
              <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                <app-base-card>
                  <app-base-card-title>
                    <h2 class="mdl-card__title-text">Wie nutzen</h2>
                  </app-base-card-title>
                  <app-base-card-body>
                    Um jegliche Frabe zu nutzen, Nutze den Sass Variablen Namen mit der korrespondierenden Farbe,
                    kleingeschrieben mit dem Präfix <code>"color-"</code>.<br>
                    Wenn der Farbname aus mehreren Wörtern besteht, werde die Worte mit einem Minus "-" voneinander getrennt.
                    <br><br>
                    <i class="color-text--green">Beispiel: Du möchtest den Farbnamen "Green" verwenden. Die Sass Variable für diese Farbe ist <code><b>$color-green</b></code></i>
                  </app-base-card-body>
                </app-base-card>
              </div>
</div>

