<div class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top ui-tables">
<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h1 class="mdl-card__title-text">Einfache Tabelle</h1>
          </app-base-card-title>
          <app-base-card-body class="no-padding">
            <table class="mdl-data-table mdl-js-data-table">
              <thead>
              <tr>
                <th *ngFor="let header of headers" class="mdl-data-table__cell--non-numeric">{{ header }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of simpleTable">
                <td *ngFor="let cell of row.slice(0, -1)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
                <td class="mdl-data-table__cell--non-numeric" [ngSwitch]="row[row.length - 1]">
                  <span *ngSwitchCase="'read'" class="label label--mini background-color--primary">Gelesen</span>
                  <span *ngSwitchCase="'unread'" class="label label--mini background-color--secondary">Ungelesen</span>
                </td>
              </tr>
              </tbody>
            </table>
          </app-base-card-body>
        </app-base-card>
      </div>
      <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h1 class="mdl-card__title-text">Tabelle mit Rändern</h1>
          </app-base-card-title>
          <app-base-card-body class="no-padding">
            <table class="mdl-data-table mdl-js-data-table bordered-table">
              <thead>
              <tr>
                <th *ngFor="let header of headers" class="mdl-data-table__cell--non-numeric">{{ header }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of borderedTable">
                <td *ngFor="let cell of row.slice(0, -1)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
                <td class="mdl-data-table__cell--non-numeric" [ngSwitch]="row[row.length - 1]">
                  <span *ngSwitchCase="'read'" class="label label--mini background-color--primary">Gelesen</span>
                  <span *ngSwitchCase="'unread'" class="label label--mini background-color--secondary">Ungelesen</span>
                </td>
              </tr>
              </tbody>
            </table>
          </app-base-card-body>
        </app-base-card>
      </div>
      <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h1 class="mdl-card__title-text">Gestreifte Tabelle</h1>
          </app-base-card-title>
          <app-base-card-body class="no-padding">
            <table class="mdl-data-table mdl-js-data-table stripped-table">
              <thead>
              <tr>
                <th *ngFor="let header of headers" class="mdl-data-table__cell--non-numeric">{{ header }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of strippedTable">
                <td *ngFor="let cell of row.slice(0, -1)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
                <td class="mdl-data-table__cell--non-numeric" [ngSwitch]="row[row.length - 1]">
                  <span *ngSwitchCase="'unavailable'" class="label label--mini color--orange">Unavailable</span>
                  <span *ngSwitchCase="'available'" class="label label--mini background-color--primary">Verfügbar</span>
                </td>
              </tr>
              </tbody>
            </table>
          </app-base-card-body>
        </app-base-card>
      </div>
      <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h1 class="mdl-card__title-text">Grenzenlose Tabelle</h1>
          </app-base-card-title>
          <app-base-card-body class="no-padding">
            <table class="mdl-data-table mdl-js-data-table borderless-table">
              <thead>
              <tr>
                <th *ngFor="let header of headers" class="mdl-data-table__cell--non-numeric">{{ header }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of borderlessTable">
                <td *ngFor="let cell of row.slice(0, -1)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
                <td class="mdl-data-table__cell--non-numeric" [ngSwitch]="row[row.length - 1]">
                  <span *ngSwitchCase="'unavailable'" class="label label--mini color--orange">Nicht Verfügbar</span>
                  <span *ngSwitchCase="'available'" class="label label--mini background-color--primary">Verfügbar</span>
                </td>
              </tr>
              </tbody>
            </table>
          </app-base-card-body>
        </app-base-card>
      </div>
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h1 class="mdl-card__title-text">Fortgeschrittene Tabelle</h1>
            <div class="mdl-layout-spacer"></div>
            <app-base-pagination [numPage]="numPage"
                             [currentPage]="currentPage"
                             (changePage)="changePage($event)">
            </app-base-pagination>
          </app-base-card-title>
          <app-base-card-body class="no-padding">
            <table class="mdl-data-table mdl-js-data-table sorting-table">
              <thead>
              <tr>
                <th *ngFor="let header of advancedHeaders; let i = index" class="mdl-data-table__cell--non-numeric"
                    (click)="changeSorting(header, i)">
                  <span>{{ header.name }}</span>
                  <i *ngIf="header.sort !== null " class="material-icons sorting"
                     [class.asc]="header.sort === sortOrder.asc"
                     [class.active]="header.sort === sortOrder.asc || header.sort === sortOrder.desc">sort</i>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of advancedTable">
                <td *ngFor="let cell of row.slice(0, 3)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                  <span *ngFor="let genre of row[3]"
                        class="label label--mini color--{{ genreColors[genre] }}">{{ genre }}</span>
                </td>
                <td *ngFor="let cell of row.slice(4, 8)" class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <span *ngFor="let i of Array(row[8])" class="label label--mini label__availability"
                          [class.background-color--secondary]="row[8] === 1"
                          [class.color--orange]="row[8] === 2"
                          [class.background-color--primary]="row[8] === 4"
                          [class.color--green]="row[8] === 3"></span>
                  <span *ngFor="let i of Array(4 - row[8])" class="label label--mini label__availability"></span>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">
                   Einkaufen
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </app-base-card-body>
        </app-base-card>
      </div>
    </div>
