<div class="mdl-grid ui-components">
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <app-toggles></app-toggles>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <app-progress-bars></app-progress-bars>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <app-chips></app-chips>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <app-sliders></app-sliders>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <app-tooltips></app-tooltips>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <app-badges></app-badges>
      </div>

      <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
            <app-base-card>
              <app-base-card-title>
                <h1 class="mdl-card__title-text">Einfache Avatar Liste</h1>
              </app-base-card-title>
              <app-base-card-body>
                <ul class="mdl-list">
                  <li *ngFor="let item of data" class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      <div class="mdl-list__item-avatar">
                        <img width="100%" src="assets/images/{{ item.image }}">
                      </div>
                      <span>{{ item.name }}</span>
                    </span>
                  </li>
                </ul>
              </app-base-card-body>
            </app-base-card>
          </div>



</div>