<div id="dodecahedron">
    <div id="pentagon1" class="pentagon">
        <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Organisation</div>
        <div class="p p2"></div>
        <div class="p p3"></div>
        <div class="p p4"></div>
    </div> <!-- /.pentagon -->
    <div id="group1" class="group">
        <div id="pentagon2" class="pentagon">
            <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Entwicklung</div>
            <div class="p p2"></div>
            <div class="p p3"></div>
            <div class="p p4"></div>
        </div> <!-- /.pentagon -->
        <div class="group groupB">
            <div id="pentagon3" class="pentagon">
                <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Recherche</div>
                <div class="p p2"></div>
                <div class="p p3"></div>
                <div class="p p4"></div>
            </div> <!-- /.pentagon -->
                <div class="group groupC">
                    <div id="pentagon4" class="pentagon">
                        <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Konzept</div>
                        <div class="p p2"></div>
                        <div class="p p3"></div>
                        <div class="p p4"></div>
                    </div> <!-- /.pentagon -->
                </div> <!-- /.groupC -->
        </div> <!-- /.groupB -->
    </div> <!-- /#group1 -->
    <div id="group2" class="group">
        <div id="pentagon5" class="pentagon">
            <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Besprechung</div>
            <div class="p p2"></div>
            <div class="p p3"></div>
            <div class="p p4"></div>
        </div> <!-- /.pentagon -->
        <div class="group groupB">
            <div id="pentagon6" class="pentagon">
                <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Telefon</div>
                <div class="p p2"></div>
                <div class="p p3"></div>
                <div class="p p4"></div>
            </div> <!-- /.pentagon -->
        </div> <!-- /.groupB -->
    </div> <!-- /#group2 -->
    <div id="group3" class="group">
        <div id="pentagon7" class="pentagon">
            <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Email</div>
            <div class="p p2"></div>
            <div class="p p3"></div>
            <div class="p p4"></div>
        </div> <!-- /.pentagon -->
        <div class="group groupB">
            <div id="pentagon8" class="pentagon">
                <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Dokumentation</div>
                <div class="p p2"></div>
                <div class="p p3"></div>
                <div class="p p4"></div>
            </div> <!-- /.pentagon -->
        </div> <!-- /.groupB -->
    </div> <!-- /#group3 -->
    <div id="group4" class="group">
        <div id="pentagon9" class="pentagon">
            <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Intern</div>
            <div class="p p2"></div>
            <div class="p p3"></div>
            <div class="p p4"></div>
        </div> <!-- /.pentagon -->
        <div class="group groupB">
            <div id="pentagon10" class="pentagon">
                <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Extern</div>
                <div class="p p2"></div>
                <div class="p p3"></div>
                <div class="p p4"></div>
            </div> <!-- /.pentagon -->
        </div> <!-- /.groupB -->
    </div> <!-- /#group4 -->
    <div id="group5" class="group">
        <div id="pentagon11" class="pentagon">
            <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Projekt A</div>
            <div class="p p2"></div>
            <div class="p p3"></div>
            <div class="p p4"></div>
        </div> <!-- /.pentagon -->
        <div class="group groupB">
            <div id="pentagon12" class="pentagon">
                <div style="text-align: center;color: #fff;font-weight: 600;font-size: medium;" class="p p1">Projekt X</div>
                <div class="p p2"></div>
                <div class="p p3"></div>
                <div class="p p4"></div>
            </div> <!-- /.pentagon -->
        </div> <!-- /.groupB -->
    </div> <!-- /#group5 -->
</div> <!-- /#dodecahedron -->
