<div class="mdl-grid ui-cards">
<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
        <h3>Einfache Karten</h3>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h2 class="mdl-card__title-text">Paris</h2>
          </app-base-card-title>
          <app-base-card-body>
            <small>Hauptstadt Frankreichs</small>
      
            Paris ist Hauptort der Region Île-de-France. Der Fluss Seine teilt die Stadt in einen nördlichen
            und einen südlichen Teil, administrativ ist sie in 20 Stadtbezirke unterteilt. Die 
            fünftgrößte Stadt der Europäischen Union sowie mit über 12,5 Millionen Menschen nach London die
            zweitgrößte Metropolregion der EU. Mit einer vergleichsweise kleinen Stadtfläche von 
            105 Quadratkilometern ist Paris mit rund 21.000 Einwohnern pro Quadratkilometer die am
            dichtesten besiedelte Großstadt Europas.
            <br><br>
            <b>Wetter:</b> 10.4°C, 87% Luftfeuchtigkeit
            <br>
            <b>Uhrzeit:</b> Donnerstag 14:20
            <br>
            <b>Einwohner:</b> 2,2 Millionen
          </app-base-card-body>
        </app-base-card>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h2 class="mdl-card__title-text">Moskau</h2>
          </app-base-card-title>
          <app-base-card-body expanded>
            <small>Hauptstadt Russlands</small>
            Die größte Stadt Russlands sowie mit 15,1 Millionen Einwohnern, die größte Agglomeration Europas. Moskau ist das politische, 
            wirtschaftliche, wissenschaftliche und kulturelle Zentrum Russlands, mit Universitäten und
            Instituten sowie zahlreichen Kirchen, Theatern, Museen und Galerien. Im Stadtgebiet befinden
            sich einige der höchsten europäischen Hochhäuser und die markanten Sieben Schwestern, sowie
            der 540 Meter hohe Ostankino-Turm, das höchste Bauwerk Europas.
            <br><br>
            <b>Wetter:</b> 1.3°C, 86% Luftfeuchtigkeit
            <br>
            <b>Uhrzeit:</b> Donnerstag 17:13
            <br>
            <b>Einwohner:</b> 12.4 Millionen
          </app-base-card-body>
          <app-base-card-actions class="mdl-card--border">
            <a
              class="mdl-button button--colored-orange mdl-js-button mdl-js-ripple-effect"
              href="https://www.google.by/maps/place/Moscow,+Russia/@55.7494733,37.35232,10z/data=!3m1!4b1!4m5!3m4!1s0x46b54afc73d4b0c9:0x3d44d6cc5757cf4c!8m2!3d55.755826!4d37.6173"
              target="_blank">
              Zeige auf Karte
            </a>
          </app-base-card-actions>
        </app-base-card>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h2 class="mdl-card__title-text">London</h2>
          </app-base-card-title>
          <app-base-card-body expanded>
            <small>Hauptstadt Englands</small>
            Die Stadt liegt an der Themse in Südostengland auf der Insel Großbritannien. Das heutige Verwaltungsgebiet mit den insgesamt
            33 Stadtbezirken entstand 1965 mit der Gründung von Greater London. London ist damit die bevölkerungsreichste Stadt der 
            Europäischen Union sowie mit rund 14 Millionen Menschen in der London Metropolitan Area noch vor Paris (12,1 Millionen Einwohner)
            die größte Metropolregion der EU.
            <br><br>
            <b>Wetter:</b> 10.4°C, 88% Luftfeuchtigkeit
            <br>
            <b>Uhrzeit:</b> Donnerstag 14:22
            <br>
            <b>Einwohner:</b> 8.9 Millionen
          </app-base-card-body>
          <app-base-card-actions>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange pull-right"
               href="https://www.google.by/maps/place/London,+UK/data=!4m2!3m1!1s0x47d8a00baf21de75:0x52963a5addd52a99?sa=X&ved=0ahUKEwig76SihPfSAhVCCpoKHTuzBDsQ8gEIeTAN"
               target="_blank">
              Zeige auf Karte
            </a>
          </app-base-card-actions>
          <app-base-card-menu>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">more_vert</i>
            </button>
          </app-base-card-menu>
        </app-base-card>
      </div>
      
      
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
        <h3>Bilder Karten</h3>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h2 class="mdl-card__title-text">Istanbul</h2>
          </app-base-card-title>
          <app-base-card-body>
            <small>Stadt in der Türkei</small>
            Istanbul is a major city in Turkey that straddles Europe and Asia across the Bosphorus Strait.
            Its Old City reflects cultural influences of the many empires that once ruled here.
            In the Sultanahmet district, the open-air, Roman-era Hippodrome was for centuries the site of chariot races,
            and Egyptian obelisks also remain.
            The iconic Byzantine Hagia Sophia features a soaring 6th-century dome and rare Christian mosaics.
            Die bevölkerungsreichste Stadt der Türkei und deren Zentrum für Kultur, Handel, Finanzen und Medien. 
            Mit jährlich knapp zwölf Millionen Touristen aus dem Ausland ist Istanbul überdies die Stadt mit der
            achtgrößten Besucherzahl der Welt. Die Stadt liegt am Nordufer des Marmarameeres auf beiden Seiten des
            Bosporus, also sowohl im europäischen Thrakien als auch im asiatischen Anatolien. Aufgrund ihrer weltweit
            einzigartigen Transitlage zwischen zwei Kontinenten und zwei Meeresgebieten, dem Schwarzen und dem Mittelmeer, 
            verzeichnet sie einen bedeutenden Schiffsverkehr und verfügt über drei große Flughäfen.
            <br><br>
            <b>Wetter:</b> 14.2°C, 80% Luftfeuchtigkeit
            <br>
            <b>Uhrzeit:</b> Freitag 16:00
            <br>
            <b>Einwohner:</b> 15.06 Millionen
          </app-base-card-body>
        </app-base-card>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h2 class="mdl-card__title-text">Tokio</h2>
          </app-base-card-title>
          <app-base-card-body expanded>
            <small>Hauptstadt Japans</small>
            Sie umfasst die 23 Bezirke auf dem Gebiet der 1943 als Verwaltungseinheit abgeschafften Stadt Tokio und ist
            damit keine eigene Gebietskörperschaft mehr; stattdessen bilden die Bezirke zusammen mit den Städten und Gemeinden
            der westlich gelegenen Tama-Region und den südlichen Izu- und Ogasawara-Inseln die Präfektur Tokio. Diese bildet
            wiederum das Zentrum der Metropolregion Tokio-Yokohama, in der mehr als 37 Millionen Menschen leben (Stand 2014), 
            was die Region zum größten Ballungsraum der Welt macht.
            <a class="color-text--light-blue" href="https://de.wikipedia.org/wiki/Tokio" target="_blank">Wikipedia</a>
            <br><br>
            <b>Wetter:</b> 16.9°C, 54% Luftfeuchtigkeit
            <br>
            <b>Uhrzeit:</b> Freitag 10:04
            <br>
            <b>Einwohner:</b> 9.6 Millionen
          </app-base-card-body>
          <app-base-card-actions class="mdl-card--border">
            <a class="mdl-button button--colored-light-blue mdl-js-button mdl-js-ripple-effect"
               href="https://www.google.by/maps/place/Tokyo,+Japan/@35.6730185,139.4302008,10z/data=!3m1!4b1!4m5!3m4!1s0x605d1b87f02e57e7:0x2e01618b22571b89!8m2!3d35.6894875!4d139.6917064"
               target="_blank">
               Zeige auf Karte
            </a>
          </app-base-card-actions>
        </app-base-card>
      </div>
      
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <app-base-card>
          <app-base-card-title>
            <h2 class="mdl-card__title-text">Berlin</h2>
          </app-base-card-title>
          <app-base-card-body expanded>
            <small>Hauptstadt Deutschlands</small>
            Mit 892 Quadratkilometern die flächengrößte Gemeinde Deutschlands. Sie bildet das Zentrum der Metropolregion Berlin/Brandenburg
            (rund 6 Millionen Einwohner) und der Agglomeration Berlin (rund 4,5 Millionen Einwohner). Der Stadtstaat besteht
            aus zwölf Bezirken. Neben den Flüssen Spree und Havel befinden sich im Stadtgebiet kleinere Fließgewässer sowie zahlreiche Seen und Wälder.
            Urkundlich erstmals im 13. Jahrhundert erwähnt, war Berlin im Verlauf der Geschichte und in verschiedenen Staatsformen 
            Residenz- und Hauptstadt Brandenburgs, Preußens und des Deutschen Reichs.
            <br><br>
            <b>Wetter:</b> 12.1°C, 64% Luftfeuchtigkeit
            <br>
            <b>Uhrzeit:</b> Freitag 10:05
            <br>
            <b>Einwohner:</b> 3.6 Millionen
          </app-base-card-body>
          <app-base-card-actions>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue pull-right"
               href="https://www.google.by/maps/place/Berlin/@52.5065133,13.1445545,10z/data=!4m13!1m7!3m6!1s0x47a84e373f035901:0x42120465b5e3b70!2sBerlin!3b1!8m2!3d52.5200066!4d13.404954!3m4!1s0x47a84e373f035901:0x42120465b5e3b70!8m2!3d52.5200066!4d13.404954"
               target="_blank">
                Zeige auf Karte
            </a>
          </app-base-card-actions>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">favorite_border</i>
          </button>
          <app-base-card-menu>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </app-base-card-menu>
        </app-base-card>
      </div>
</div>
