<div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-base-card>
      <app-base-card-title>
        <h2 class="mdl-card__title-text">Mein helden Tag</h2>
      </app-base-card-title>
      <app-base-card-body>
        <app-pie-chart-card></app-pie-chart-card>
      </app-base-card-body>
    </app-base-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-weather-card></app-weather-card>
    <!-- <app-weather-card-dynamic></app-weather-card-dynamic> -->
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <!-- <app-trending-card></app-trending-card> -->
  </div>
  <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
    <app-mounteverrest-card></app-mounteverrest-card>
  </div>
  <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
    <app-base-card>
      <app-base-card-title>
        <h2 class="mdl-card__title-text">Top Jahres Fortschritt</h2>
      </app-base-card-title>
      <app-base-card-body>
        <app-line-chart-card></app-line-chart-card>
      </app-base-card-body>
    </app-base-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
    <app-projects-table-card></app-projects-table-card>
  </div>
</div>
<div
  class="mdl-grid mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <app-dodecahedron-card></app-dodecahedron-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <app-todo-list-card></app-todo-list-card>
  </div>
</div>
