<div class="trending">
    <app-base-card>
        <app-base-card-title>
          <h2 class="mdl-card__title-text">Tendenzen</h2>
        </app-base-card-title>
        <app-base-card-body>
          <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content list__item-text">Organisation</span>
            <span class="mdl-list__item-secondary-content">
              <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
                   </span>
            <span class="mdl-list__item-secondary-content trending__percent">13 %</span>
          </li>
          <li class="mdl-list__item list__item--border-top">
            <span class="mdl-list__item-primary-content list__item-text">Besprechungen</span>
            <span class="mdl-list__item-secondary-content">
                     <i class="material-icons trending__arrow-down" role="presentation">arrow_drop_down</i>
                   </span>
            <span class="mdl-list__item-secondary-content trending__percent">8 %</span>
          </li>
          <li class="mdl-list__item list__item--border-top">
            <span class="mdl-list__item-primary-content list__item-text ">Entwicklung</span>
            <span class="mdl-list__item-secondary-content">
                     <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
                   </span>
            <span class="mdl-list__item-secondary-content trending__percent">15 %</span>
          </li>
          <li class="mdl-list__item list__item--border-top">
            <span class="mdl-list__item-primary-content list__item-text">Recherche</span>
            <span class="mdl-list__item-secondary-content">
                     <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
                   </span>
            <span class="mdl-list__item-secondary-content trending__percent">11 %</span>
          </li>
          <li class="mdl-list__item list__item--border-top">
            <span class="mdl-list__item-primary-content">Emails</span>
            <span class="mdl-list__item-secondary-content">
                     <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
                   </span>
            <span class="mdl-list__item-secondary-content trending__percent">7 %</span>
          </li>
        </ul>
        </app-base-card-body>
      </app-base-card>
</div>

